/* Navbar Container */
.navbar-container {
  height: 100%; /* Make the navbar full height of the viewport */
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 20px; /* Padding for the entire navbar */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.1;
}

/* Logo Text */
.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

/* Links */
.nav-link {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff; /* Change color on hover, you can adjust this to your preference */
}

/* Bottom Element */
.bottom-element {
  display: flex;
  justify-content: space-between;
}

/* User Image */
.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Username */
.username {
  font-size: 0.9rem;
}
