.root {
  position: relative;
  width: 10px;
  height: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.vector2 {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 30%;
  bottom: 30%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
