* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
